RESTwebService/XMLwork/InputSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="InputElement"> 
    <complexType>
    	<sequence>
    		<element name="In1" type="string"></element>
    		<element name="In2" type="string"></element>
    		<element name="In3" type="string"></element>
    		<element name="In4" type="string"></element>
    		<element name="In5" type="string"></element>
    	</sequence>
    </complexType>
    </element>
</schema>